/* Box sizing */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}










/* Generic */

body,
h1,
p {
  margin: 0;
}










/* Variables */

html {
  --black: #151515;
  --white: #FFF;
  --gray: #444;
}










/* Text */

html {
  font: 300 18px / 1.5 'Outfit', sans-serif;
  color: var(--gray);
}

h1 {
  font: 900 60px / 1 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

h2 {
  font: 900 50px / 1 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 70px;
  }
}

@media screen and (min-width: 1201px) {
  html {
    font-size: 22px;
  }
  
  h1 {
    font-size: 96px;
  }
  
  h2 {
    font-size: 60px;
  }
}










/* Cta */

.cta-container {
  display: flex;
}

.cta {
  /* Box */
  display: block;
  width: 204px;
  padding: 24px 0;

  /* Text */
  font: 800 20px / 1 'Big Shoulders Display', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.cta--primary {
  background: var(--black);
  color: var(--white);
}

.icon-arrow-right {
  display: block;
  width: 56px;
  background: url(../assets/icon-arrow-right.svg) no-repeat center / 8px 24px, linear-gradient(#D5966C, #D5966C);
}

.icon-arrow-left {
  display: block;
  width: 56px;
  background: url(../assets/icon-arrow-left.svg) no-repeat center / 8px 24px, linear-gradient(#D5966C, #D5966C);
}










/* Hero */

.hero {
  margin: 0 0 120px 0;
  padding: 240px 0 0 0;
  background: url(../assets/mobile/image-hero@2x.jpg) no-repeat top / contain;
}

.hero__heading {
  padding: 32px 16px;
  background: #FFF;
}

.hero__body {
  padding: 0 16px 32px;
  background: #FFF;
}

.hero__cta {
  margin: 0 0 0 16px;
}

@media screen and (min-width: 769px) {
  .hero {
    margin: 0 0 120px 0;
    padding: 145px 0;
    background: url(../assets/tablet/image-hero@2x.jpg) no-repeat left / 437px 100%;
  }
  
  .hero__heading {
    margin: 0 40px 48px 389px;
    padding: 0;
    background: transparent;
  }
  
  .hero__body {
    margin: 0 40px 48px 389px;
    padding: 0;
    background: transparent;
  }

  .hero__cta {
    margin: 0 40px 0 389px;
  }
}

@media screen and (min-width: 1201px) {
  .hero {
    display: grid;
    grid-template-areas: 
    'heading body'
    'heading cta';
    margin: 0 0 180px 0;
    padding: 190px 164px 314px;
    background: url(../assets/desktop/image-hero@2x.jpg) no-repeat center / 540px 100%;
  }
  
  .hero__heading {
    grid-area: heading;
    min-width: max-content;
    margin: 0 246px 0 0;
    padding: 0;
  }

  .hero__body {
    grid-area: body;
    margin: 0 0 64px 0;
    padding: 0;
    background: transparent;
  }

  .hero__cta {
    grid-area: cta;
    margin: 0 0 0 0;
    height: fit-content;
  }
}










/* Main */










/* Location page */










/* Helpers */

.border {
  border: 1px solid black;
}

.border > * {
  border: 1px solid black;;
}